.inputBar{
  margin-left: 25%;
  border-radius:10px;
  width:50%;
  display: block;
  align-items: center;
  padding:20px;
  box-shadow:0 0 10px 4px #e72f2fe8;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: large;
  text-align: center;
  justify-content: center;
}
.maintable{
  background-color: white;
  background-origin: padding-box;
  justify-items: center;
  text-align: center;
  border: 1px solid black;
  box-shadow:0 0 10px 4px #e72f2fe8;
  
}


.maintable:nth-child(even) {background-color: #e72f2fe8;}

.titleBar {
  background: #e72f2fe8;
  display: flex;
  color: #fff;
  text-align: center;
  justify-content: center;
} @media only screen and (max-width: 600px) {
  .titleBar {
    width: 122%;
  }
}

.button{
  padding: 14px 40px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  color: black;
  transition-duration: 0.4s;
  border-radius: 12px;
}
.button:hover {
  background-color: #e72f2fe8;
  color: white;
  box-shadow: 0 4px 8px 0 #e72f2fe8, 0 6px 20px 0 #e72f2fe8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
